* {
  box-sizing: border-box;
}

@font-face {
  font-family: "ShortStack";
  src: url("./assets/common/fonts/ShortStack.ttf");
}

body {
  color: #00344a !important;
  background-image: url("assets/common/background.jpg");
}

html,
body,
#root,
.App,
.app-container {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.col-centered {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

/**************Menú**************/

.menu-logo {
  max-height: 35vh;
}

.menu-icon.user-profile-image {
  width: 17vh;
  height: 17vh;
  border: 0.5vh solid #6a1b9a;
}

.menu-icons {
  height: 12vh;
}

.menu-icon {
  height: 100%;
  transition: transform 0.3s 0s cubic-bezier(0.29, -0.43, 0.27, 1.55);
}
.menu-icon:hover {
  transform: scale(1.2);
}

/* El icono del menú es un conjunto de ítems con la imagen y las monedas */
.url-style-disabled {
  color: #000 !important;
}
.url-style-disabled:hover {
  text-decoration: none !important;
  color: #000 !important;
}
.coins {
  font-size: 3vh;
}
.coins img {
  height: 2ex;
}

.coins.shop {
  font-size: 5vh;
  font-weight: bold;
}
.coins.shop img {
  height: 4vh;
}

.logo-title {
  font-size: 15vh;
  font-family: "ShortStack", Arial, Helvetica, sans-serif;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2%;
  margin-bottom: 1%;
}

.primary-background {
  background-color: #6a1b9a !important;
}

.secondary-background {
  background-color: #9c4dcc !important;
}

.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-outline-primary {
  border: none !important;
}

.primary-button,
.secondary-button,
.tertiary-button,
.alert-button,
.success-button {
  padding: 10px 20px !important;
  border-radius: 30px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.primary-button:hover {
  background-color: #a92ff5 !important;
}

.primary-button {
  background-color: #6a1b9a !important;
  border: none !important;
}

.secondary-button:hover {
  background-color: #c05efd !important;
}

.secondary-button {
  background-color: #9c4dcc !important;
  border: none !important;
}

.tertiary-button:hover {
  background-color: darkgrey !important;
  border-color: grey !important;
}

.tertiary-button {
  background-color: #b4b4b4 !important;
  border: none !important;
}

.alert-button:hover {
  background-color: rgb(253, 66, 66) !important;
}

.alert-button {
  background-color: red !important;
  border: none !important;
}

.success-button:hover {
  background-color: #55e975 !important;
}

.success-button {
  background-color: #10e73f !important;
  border: none !important;
}

.primary-title {
  font-size: 48px !important;
  font-weight: bold !important;
}

.secondary-title {
  font-size: 30px !important;
  font-weight: bold !important;
}

.tertiary-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 1%;
}

/*Caja de texto formularios*/
.form-control {
  background: #f9f6f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0%;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
}

/* --------------------------- Profile / EditProfile ------------------------ */

.user-profile-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

#profile td:nth-child(2) {
  text-align: right;
}

#profile .table td,
.table th {
  padding: 0 !important;
}

#profile .table > tbody > tr > td {
  vertical-align: middle;
}

#editProfile .alert-button {
  background-color: white !important;
  border: 2px solid !important;
  border-color: red !important;
  color: red !important;
}

#editProfile .alert-button:hover {
  background-color: red !important;
  border: 2px solid !important;
  border-color: red !important;
  color: white !important;
}

#imgCambioTablero img {
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#imgCambioTablero img:hover {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

#btnImageChange .primary-button {
  position: absolute;
  top: 0%;
  left: 60%;
  border-radius: 50% !important;
  height: 70px !important;
  width: 70px !important;
}

.close {
  box-shadow: none !important;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}
.close:hover,
.close:focus {
  background: none !important;
}

.close:focus.btn-primary:focus {
  box-shadow: none !important;
}

.card-close {
  font-size: 40px !important;
  right: 20px;
  top: 10px;
}

/*Chat*/
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  background-color: #64dd17;
  color: black;
  font-weight: bold !important;
  height: 10vh;
}

.message {
  background-color: #dcf8c6 !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.gatovid-message {
  background-color: transparent !important;
  border: none !important;
}

.own-message {
  background-color: #dcf8c6 !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.message-list,
.shop-list {
  overflow-y: scroll;
  flex: 1;
}

.send-button:hover,
.send-button {
  background-color: white !important;
  border-color: #ced4da !important;
  border-left-color: white !important;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-primary:focus,
.form-control:focus {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

/* --------------------------- Match ------------------------ */

.game-icon {
  width: 8vh;
  height: 8vh;
}

.pass-button-locked,
.pass-button-unlocked {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50% !important;
  border-color: white !important;
  border-width: 2px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.pass-button-unlocked:hover {
  background-color: #a92ff5 !important;
}

.pass-button-locked {
  background-color: #b4b4b4 !important;
}

.pass-button-unlocked {
  background-color: #6a1b9a !important;
}

.discard-base {
  height: 80px;
  width: 150px;
  border: 2px dashed #9c4dcc;
  text-align: center;
}

/* --------------------------- Cartas ------------------------ */

.hand-card {
  width: 10vh !important;
}

/* TODO: DEJAR DESCOMENTADO */
/*
.hand-card:hover {
  transform: scale(1.3);
}
*/

.body-card {
  width: 8vh !important;
  height: 11.25vh !important;
}

.rival-card {
  width: 6vh !important;
  height: 8.44vh !important;
}

.game-card {
  padding: 0;
  width: fit-content;
  height: fit-content;
}

/* --------------------------- Pila de Cartas ------------------------ */

/* ---- Rival ---- */

.stack-base-rival {
  position: relative;
  display: block;
  height: 14vh;
}

.stack-card-rival {
  position: absolute;
}

.stack-card-rival-0 {
  top: 0vh;
}

.stack-card-rival-1 {
  top: -7.5vh;
}

.stack-card-rival-2 {
  top: -15vh;
}

/* ---- Own user-body ---- */

.stack-base-body {
  position: relative;
  display: block;
  height: 16vh;
}

.stack-card-body {
  position: absolute;
}

.stack-card-body-0 {
  top: 0vh;
}

.stack-card-body-1 {
  top: -10vh;
}

.stack-card-body-2 {
  top: -20vh;
}

/* ------------------------------ PlayerBox --------------------------------- */

.player-image {
  width: 6vh;
}

.player-box {
  width: 36vh;
  height: fit-content;
  background-color: #c4c4c4 !important;
  border-radius: 2vh !important;
}

.player-body {
  height: 20vh;
}

/* -------------------------------- Timer ----------------------------------- */

.time {
  font-size: 40px;
  font-weight: bold;
}

/* -------------------------------- Shop ------------------------------------ */
.purchasable-component {
  width: fit-content;
  height: fit-content;
  border-color: #000 !important;
}

.purchasable-component-image {
  width: 100px !important;
  height: 100px !important;
}

.box-image {
  width: 40px;
  height: 40px;
}

.check-image {
  width: 40px;
  height: 40px;
  margin: 11px !important;
  border: 1px solid #000 !important;
}

.coins-box {
  width: fit-content;
  height: fit-content;
  border-color: #000 !important;
  border-radius: 2vh !important;
}

.money-box {
  width: 250px;
  height: fit-content;
  background-color: #9c4dcc !important;
  border-radius: 0vh !important;
  color: white;
}

.coin-image {
  width: 20px;
  height: 20px;
}

.coin-image-money {
  width: 28px;
  height: 28px;
}

.shop-card {
  min-height: 550px !important;
}

.player-turn {
  border: 5px solid #6a1b9a !important;
}
