body {
  color: #00344a !important;
  background-image: url("assets/common/background.jpg");
}

html,
body,
#root,
.App,
.app-container {
  height: 100vh;
}

/**************Menú**************/

.menu-logo {
  height: 80vh;
  max-height: 200px;
}

.logo-row {
  flex: 1;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icons img {
  height: 10%;
  width: 10%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main img {
  width: 60%;
}

.main h1 {
  font-size: 700%;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5%;
  margin-bottom: 2%;
  padding: 2%;
}

.primary-button {
  background-color: #6a1b9a !important;
  border-radius: 30px !important;
  width: 80% !important;
  max-width: 290px !important;
  min-width: min-content !important;
  height: 100% !important;
  max-height: 50px !important;
  min-height: min-content !important;
  justify-content: flex-end;
  size: 24px !important;
  font-weight: bold !important;
}

.secondary-button {
  background-color: #9c4dcc !important;
  border-radius: 30px !important;
  width: 270px !important;
  height: 50px !important;
  size: 24px !important;
  font-weight: bold !important;
}

.primary-title {
  font-size: 48px !important;
  font-weight: bold !important;
}

.secondary-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 1%;
}

/*Caja de texto formularios*/
.form-control {
  background: #f9f6f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0%;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
}

html,
body,
#root,
.App,
.centered .app-container {
  padding: 0;
}
